# Build outputs
/out/
/build/
/target/
/run/assets/
/run/
/sources.txt
/docs/knowledge-base/
/skiko-sandbox/
/skija-sandbox/
/lwjgl3-port/
*.class

# IDE files
/.idea/
*.iml

# Logs / misc
*.log
hs_err_pid*
*.tmp
*.swp

# System junk
.DS_Store
Thumbs.db
